.BannerBackground {
    height: 700px;
    width: 100%;
    flex-wrap: wrap;
}

.Banner {
    position: absolute;
    transition: 0.2s;
}

.TodoBackground {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    color: white;
    width: 700px;
    left: 200px;
}

.TodoBackground p {
    width: 70%;
}